# Ignora archivos y carpetas que coincidan con lo que se indica a continuación.

# Node modules
node_modules/

# Build outputs
/build/
/dist/
/out/

# Foundry specific
/cache/
/artifacts/
/lib/
foundry/broadcast/

# Environment variables
.env

# Logs
*.log

# Editor directories and files
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

#importaciones
@openzeppelin